/* 
    Created on : 05-Jun-2017, 15:58:53
    Author     : Brian
*/
html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

body
{
    font-family: "cochin";
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}
            
h1, p
{
    color: #e4e4e4;
    font-weight: lighter;
}

a
{
    text-decoration: none;
    color: #e4e4e4;
}

#logo
{
    position: absolute;
    width: 90%;
    top: 20px;
    left: 20px;
}

#affresco
{
    display: none;
}

#background h1
{
    position: absolute;
    top: 130px;
    left: 20px;
    font-size: 24px;
}
            
#one
{
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 30px;
}

#centerContainer
{
    display: block;
    margin: auto;
    position: fixed;
    top: 230px;
    width: 100%;
}

#two
{
    display: none;
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 30px;
}

#three
{
    display: none;
    position: absolute;
    top: 0px;
    left: 140px;
    font-size: 30px;
}

#four
{
    display: none;
    top: 0px;
    position: absolute;
    left: 200px;
    font-size: 30px;
}

/* SIDENAV SECTION */
#burgerBackGround
{
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0px;
    text-align: center;
    background-color: #1a1a1a;
    z-index: 1;
    box-shadow: 0px 30px 30px #1a1a1a;
    display: none;
}

#burgerBackGround h1
{
    position: relative;
    top: -5px;
}

#burgerBackGround p
{
    position: relative;
    top: -20px;
}

.burgerMenu
{
  position: relative;
  top: -25px;
  margin: auto;
  height: 100%;
  width: 50px;
  cursor: pointer;
}

.bar
{
  height: 6px;
  width: 100%;
  background-color: white;
}

#top
{
  position: relative;
  top: 5px;
}

#middle
{
  position: relative;
  top: 15px;
}

#bottom
{
  position: relative;
  top: 25px;
}

.barTop, .barMid, .barBot
{
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.barTopOn
{
  transform: rotate(45deg) translateY(12px) translateX(11px);
}

.barMidOn
{
  opacity: 0;
}

.barBotOn
{
  transform: rotate(-45deg) translateY(-12px) translateX(11px);
}

#mobileMenu
{
    display: none;
    position: fixed;
    top: 126px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#mobileMenu a
{
    text-align: center;
    padding: 30px 0px 30px 0px;
    text-decoration: none;
    font-size: 28px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 0px 20px white, 0px 0px 10px white;
    display: block;
}

/*@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/

/* NAVIGATION BAR SECTION */
#topBar
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #1a1a1a;
    z-index: 1;
    box-shadow: 0px 30px 30px #1a1a1a;
    opacity: 0;
}
.nav li
{
    display: inline;
    position: relative;
    left: -40px;
}
    
.nav a
{
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.nav a:hover
{
    color: #ffffff;
}

/* CONTENT SECTION */
#container
{
    position: relative;
    margin-top: 250px;
    width: 100%;
    background-color: #1a1a1a;
}

#container p
{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    text-align: justify;
}

/* HOME SECTION */
#home
{
    position: absolute;
    top: -110px;
}

#homeHeader
{
    width: 100%;
}

.decL
{
    position: relative;
    display: block;
    margin: auto;
    top: 50px;
    left: -120px;
}

.decR
{
    position: relative;
    display: block;
    margin: auto;
    top: -50px;
    left: 120px;
}

#homeSlideShow
{
    position: relative;
    margin: auto;
    width: 90%;
    height: 300px;
}

.homeSlides
{
    position: relative;
    margin: auto;
    width: 100%;
}

/* WHERE SECTION */
#dove
{
    position: relative;
    top: -200px;
}

#mapOne
{
    position: relative;
    top: -80px;
    margin: auto;
    width: 60%;
    height: 300px;
    background-color: gray;
}

/* SERVICES SECTION */
#servizi
{
    position: relative;
    top: -230px;
}

#serviceSlideShow
{
    position: relative;
    margin: auto;
    top: -50px;
    width: 90%;
    height: 400px;
    margin-bottom: 50px;
}

.serviceSlides
{
    position: relative;
    width: 100%;
}

/* HISTORY SECTION */
#storia
{
    position: relative;
    top: -230px;
}

#containLastImage
{
    position: relative;
    margin: auto;
    top: -50px;
    width: 90%;
}

#containLastImage img
{
    position: relative;
    width: 100%;
}   

/* CONTACTS SECTION */
#contatti
{
    position: relative;
    top: -230px;
}

#containContacts
{
    position: relative;
    margin: auto;
    top: 30px;
    width: 80%;
}

#containContacts p
{
    position: relative;
    left: 12%;
    text-align: left;
    font-size: 18px;
}

.icon
{
    display: block;
    margin-left: 15%;
}

#phone
{
    position: relative;
    top: -270px;
    left: -45px;
}

#mobile
{
    position: relative;
    top: -250px;
    left: -42px;
}

#mail
{
    position: relative;
    top: -220px;
    left: -50px;
}

/* FOOTER SECTION */
#footer
{
    position: relative;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid white;
}

#footer p
{
    margin-bottom: 20px;
    font-size: 16px;
}

#creditOne
{
    position: absolute;
    width: 40%;
    top: 0px;
    left: 5%;
}

#creditTwo
{
    position: absolute;
    width: 40%;
    top: 0px;
    right: 5%;
}

@media (min-width: 700px)
{
    #logo
    {
        position: absolute;
        width: 60%;
        top: 50px;
        left: 60px;
    }
    
    #affresco
    {
        display: block;
    }

    #background h1
    {
        position: absolute;
        top: 350px;
        left: 62px;
    }
            
    #one
    {
        position: absolute;
        top: 500px;
        left: 62px;
        font-size: 30px;
    }

    #two
    {
        display: none;
        position: fixed;
        top: 250px;
        left: 130px;
        font-size: 50px;
    }

    #three
    {
        display: none;
        position: fixed;
        top: 250px;
        left: 320px;
        font-size: 50px;
    }

    #four
    {
        display: none;
        position: fixed;
        top: 250px;
        left: 400px;
        font-size: 50px;
    }

    /* NAVIGATION BAR SECTION */
    #burgerBackGround
    {
        opacity: 0;
        pointer-events: none;
    }
    
    #topBar
    {
        display: none;
        position: fixed;
        width: 100%;
        height: 100px;
        text-align: center;
        background-color: #1a1a1a;
        z-index: 1;
        box-shadow: 0px 30px 30px #1a1a1a;
        opacity: 1;
    }

    .nav li
    {
        display: inline;
        position: relative;
    }
    
    .nav a
    {
        display: inline-block;
        padding-right: 30px;
        text-decoration: none;
        font-size: 20px;
        color: gray;
    }

    #topBar a:hover
    {
        color: #e4e4e4;
    }

    a:hover
    {
        color: #ffffff;
    }


    /* CONTENT SECTION */
    #container
    {
        position: relative;
        margin-top: 50px;
        width: 100%;
        background-color: #1a1a1a;
        box-shadow: 0px -150px 150px #1a1a1a;
    }

    #container p
    {
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 100px;
        text-align: justify;
    }

    /* HOME SECTION */
    #home
    {
        position: absolute;
        top: -110px;
    }

    #homeHeader
    {
        width: 100%;
    }

    .decL
    {
        position: relative;
        display: block;
        margin: auto;
        top: 50px;
        left: -120px;
    }

    .decR
    {
        position: relative;
        display: block;
        margin: auto;
        top: -50px;
        left: 120px;
    }

    #homeSlideShow
    {
        position: relative;
        margin: auto;
        width: 60%;
        height: 550px;
    }

    .homeSlides
    {
        position: relative;
        margin: auto;
        width: 100%;
    }

    /* WHERE SECTION */
    #dove
    {
        position: relative;
        top: -230px;
    }

    #mapOne
    {
        position: relative;
        top: -80px;
        margin: auto;
        width: 60%;
        height: 300px;
        background-color: gray;
    }

    /* SERVICES SECTION */
    #servizi
    {
        position: relative;
        top: -230px;
    }

    #serviceSlideShow
    {
        position: relative;
        margin: auto;
        top: -370px;
        width: 60%;
        height: 550px;
    }

    .serviceSlides
    {
        position: relative;
        width: 400px;
        top: 0px;
        left: 50%;
    }

    /* HISTORY SECTION */
    #storia
    {
        position: relative;
        top: -230px;
    }

    #containLastImage
    {
        position: relative;
        margin: auto;
        top: -50px;
        width: 60%;
    }

    #containLastImage img
    {
        position: relative;
        width: 100%;
    }   

    /* CONTACTS SECTION */
    #contatti
    {
        position: relative;
        top: -230px;
    }

    #containContacts
    {
        position: relative;
        margin: auto;
        top: 50px;
        width: 80%;
    }

    .icon
    {
        display: block;
        margin-left: 15%;
    }

    #phone
    {
        position: relative;
        top: -270px;
        left: 4px;
    }

    #mobile
    {
        position: relative;
        top: -250px;
        left: 8px;
    }

    #mail
    {
        position: relative;
        top: -220px;
        left: 0px;
    }

    /* FOOTER SECTION */
    #footer
    {
        position: relative;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid white;
        margin-top: -20px;
    }

    #footer p
    {
        margin-bottom: 20px;
    }

    #creditOne
    {
        position: absolute;
        width: 40%;
        top: 0px;
        left: 10%;
    }

    #creditTwo
    {
        position: absolute;
        width: 40%;
        top: 0px;
        right: 10%;
    }
}